$mainColor: #f6f4d2;
$secondColor: #d4e09b;
$mainTextColor: #283d3b;
$secondTextColor: #a44a3f;
$hoverColor:  #f3d3b3;

$MainFontstack:'Josefin Sans', sans-serif; 
$secondFontStack: 'Kanit', sans-serif;
